body {
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: #ff0000;
}

header {
    text-align: center;
    padding: 20px;
    background-image: url('/assets/2077_cityscape.jpeg');
    background-position: center;
}

h1 {
    font-size: 3em;
    letter-spacing: 4px;
}

h2 {
    font-size: 2em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#intro img {
    width: 100%;
    border-radius: 5px;
}

#campaign-info ul {
    list-style: none;
    padding: 0;
}

#campaign-info li {
    margin-bottom: 5px;
}

#join a {
    background-color: #f01212;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

#join a:hover {
    background-color: #8300af;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #202020;
}

.countdown {
    text-align: center;
    color: #f01212;
    font-size: 1.5em;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.character-card {
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f01212;
    border-radius: 5px;
    background-color: #202020;
    color: #fff;
}

.character-card h3 {
    font-size: 1.2em;
}

.character-card p {
    margin-bottom: 5px;
}
